<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Multi File Upload</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form id="multiUploadForm"></form>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/index.min.js"></script>
